<!-- Página inicial -->

<center>

<br /><%= titulo %> <br /><br />
<a href="/pessoa/question" id="p111">Responder Questões</a><br /><br />
<a href="/pessoa/new">Inserir Questões</a></a><br /><br />

<% for(i=0; i<perguntas[i].length; i++) { %>
	<%= perguntas[i].pergunta %>
	<%= perguntas[i].resposta %>
<% } %>

</center>