<center>
<br /><h1><%= titulo %></h1><br />
<form action="/pessoa/save" method="POST">
	<label id="pergunta1">Insira a primeira pergunta</label><br />
		<input type="text" name="p1" id="p1" placeholder="Insira a pergunta aqui..." /><br /><br />
	<label id="pergunta2">Insira a segunda pergunta</label><br />
		<input type="text" name="p2" id="p2" placeholder="Insira a pergunta aqui..." /><br /><br />
	<label id="pergunta3">Insira a terceira pergunta</label><br />
		<input type="text" name="p3" id="p3" placeholder="Insira a pergunta aqui..." /><br /><br />
	<label id="pergunta4">Insira a quarta pergunta</label><br />
		<input type="text" name="p4" id="p4" placeholder="Insira a pergunta aqui..." /><br /><br />
	<label id="pergunta5">Insira a quinta pergunta</label><br />
		<input type="text" name="p5" id="p5" placeholder="Insira a pergunta aqui..." /><br /><br />
	----------------------------<br /><br />
	<label id="resposta1">Insira a primeira resposta</label><br />
		<input type="text" name="r1" id="r1" placeholder="Insira a resposta aqui..." /><br /><br />
	<label id="resposta2">Insira a segunda resposta</label><br />
		<input type="text" name="r2" id="r2" placeholder="Insira a resposta aqui..." /><br /><br />
	<label id="resposta3">Insira a terceira resposta</label><br />
		<input type="text" name="r3" id="r3" placeholder="Insira a resposta aqui..." /><br /><br />
	<label id="resposta4">Insira a quarta resposta</label><br />
		<input type="text" name="r4" id="r4" placeholder="Insira a resposta aqui..." /><br /><br />
	<label id="resposta5">Insira a quinta resposta</label><br />
		<input type="text" name="r5" id="r5" placeholder="Insira a resposta aqui..." /><br /><br />
	<input type="submit" id="btnSubmit" value="Salvar"/>
</form>
</center>
