<!-- Adicionar novas perguntas -->
<center>
<br /><h1><%= titulo %></h1><br />
<form action="/pessoa/save" method="POST">

	<label id="perguntaLabel">Digite a pergunta</label><br />
		<input type="text" name="pergunta" id="pergunta" placeholder="Pergunta..." /><br /><br />
	----------------------------<br /><br />
	<label id="respostaLabel">Digite a resposta</label><br />
		<input type="text" name="resposta" id="resposta" placeholder="Resposta..." /><br /><br />

	<input type="submit" id="btnSubmit" value="Salvar"/>
</form>
</center>
