<!-- Página das respostas -->
<center>

	<br /><h1>Titulo</h1><br /><br />

	<h3>Parabéns! Você concluiu o questionário</h3><br /><br />
	<h4>Você acertou X perguntas</h4><br /><br />

	<a href="/pessoa">Voltar</a>

</center>