<!-- Página inicial -->

<link rel="stylesheet" href="/styles/bootstrap.css">

<center>

<br  /><h1  class="botao1"><%= titulo %> </h1>

<a href="/pergunta/question"  class="botao1"  >Responder Questões</a><br /><br />

</center>
