<!-- Editar as novas questões adicionadas anteriormente -->
<!-- Função que talvez seja retirada -->
<center>
<br /><h1>Editar</h1><br />
<form action="/pergunta/save" method="POST">
	
	<input type="hidden" name="id"
    value="<%= pergunta.id %>"/>
	<label id="perguntaLabel">Digite a pergunta</label><br />
		<input type="text" name="pergunta" id="pergunta" placeholder="Pergunta..." value="<%= pergunta.pergunta %>" required/><br /><br />
	----------------------------<br /><br />
	<label id="respostaLabel">Digite a resposta</label><br />
		<input type="text" name="resposta" id="resposta" placeholder="Resposta..." value="<%= pergunta.resposta %>" required/><br /><br />

	<a href="/pergunta/professor">Voltar</a><br />
	<input type="submit" id="btnSubmit" value="Salvar"/>
</form>
</center>