<!-- Página inicial -->

<link rel="stylesheet" href="/styles/bootstrap.css">

<center>

<br /><h1 class="titulo"><%= titulo %></h1><br /><br />
<h1 class="titulo" >Bem vindo</h1><br />


<a href="/pergunta/user" class="btnSubmit">Iniciar</a>
<br /><br />


<a href="/signup" class="btnSubmit">Voltar</a>

</center>
