<!-- Página do banco de dados -->

<link rel="stylesheet" href="/styles/bootstrap.css">

<center>

	<br/><h1 class="titulo" ><%= titulo %>  </h1><br /><br />

	<% for(i=0; i<perguntas.length; i++) { %>
		Pergunta<%= perguntas[i].id %>: <%= perguntas[i].pergunta  %>
		 - R: <%= perguntas[i].resposta %>
		<br />
	<% } %>
		<br />
	<a href="/pergunta/professor" class="botao1" >Voltar</a>

</center>