<!-- Página inicial -->

<link rel="stylesheet" href="/styles/bootstrap.css">

<center>

<br  /><h1 class="titulo"><%= titulo %> </h1><br /> <br />
<a href="/pergunta/question" class="botao1"  >Responder Questões</a>  <br /><br />
<a href="/pergunta/new" class="botao1" >Inserir Questões</a>  </a><br /><br />
<a href="/pergunta/perguntas" class="botao1" >Banco de questões</a><br /><br />


</center>
