<!-- Responder questões -->
<center>
<br /><h1>Perguntas</h1><br />
<form action="/pergunta/resposta" method="POST">
	<% var a;%>
	
	<% for(var i=0; i<pergunta.length; i++) { %>
		<input type="hidden" name="id" value="<%= pergunta[i].id %>" />

		<label id="perguntaLabelid<%i%>"><%= pergunta[i].pergunta %></label><br />
		<input type="text" name="per" placeholder="Digite a resposta aqui..." required/><br /><br />
	<% } %>

	<input type="submit" id="btnSubmit" value="Responder"/>
</form>
</center>
