<!-- Página das respostas -->
<center>

	<br /><h1>Respostas</h1><br /><br />

	<h3>Você concluiu o questionário</h3><br /><br />
	<h4>Você acertou X perguntas</h4><br /><br />

	<a href="/pergunta/user">Voltar</a>

</center>