<!-- Página das respostas -->

<link rel="stylesheet" href="/styles/bootstrap.css">

<center>

	<br /><h1 class="titulo" >Respostas</h1><br /><br />

	<h3>Você concluiu o questionário</h3><br /><br />
	<h4>Você acertou X perguntas</h4><br /><br />

	<a href="/pergunta/aluno" class="botao1">Voltar</a>

</center>